<script>
	var selectOptionYn = [
		{text: '예', value: 'Y'},
		{text: '아니오', value: 'N'}
	];

	function deleteAPIInfo(apiGenKey) {
		if(!confirm('정말 API 키를 삭제 하시겠습니까? 삭제할 경우 해당 API로 사용 중인 프로그램들이 정상 작동하지 않을 수 있습니다.')) { return; }

		$.post('/openapi/delete?_method=delete', {
			apiGenKey: apiGenKey
		}, function(event) {
			if(event.result == false) {
				switch(event.code) {
					case -1:
						alert('로그인이 필요합니다.');	
						location.href='/auth/login';
					break;
					case -2:
						alert('권한이 없습니다.');	
					break;
					default:
						alert('삭제에 실패하였습니다.');	
					break;
				}
			} else {
				alert('삭제하였습니다.');
				location.reload();
			}
		}).fail(function() {
			alert('삭제에 실패하였습니다.');
		});
	}

</script>

<p class="content_title">안내</p>
<div class="popup_box text-left">	
    <ul>
        <li> API 키를 분실하셨을 때 개인키를 이용하여 재발급 받으실 수 있습니다.</li>
		<li> API키와 개인키 모두 분실하시면 기존 키를 삭제 후 다시 발급받으시기 바랍니다.</li>
		<li> 사용가능여부의 아니오는 관리자의 승인대기중이거나 사용이 취소된 API입니다.</li>
	</ul>
</div>
<br/>

<div class="row">
	<div class="col-md-4 col-xs-12 text-left">
		<div class="btn-group" role="group" aria-label="...">
			<input type="button" onclick="location.href='/openapi/reGenKeys'" value="API 키 재발급" class="btn btn-sm btn-danger"/>
		</div>
  	</div>
</div>

<div class="board_list">
<table>
	<tr>
		<th class="center" style="width: 20%;">APP 이름</th>
		<th class="center" style="width: 10%;">베이스카</th>
		<th class="center" style="width: 10%;">장치</th>
		<th class="center" style="width: 10%;">완성차</th>
		<th class="center" style="width: 10%;">회원</th>
		<th class="center">사용가능여부</th>
		<th class="center">신청일시</th>
		<th class="center">만료일</th>
		<th class="center">관리</th>
	</tr>
	<% if(apiUseList.length > 0) { %> 
		<% for(var i=0;i<apiUseList.length;i++) { %>
			<tr>
				<td class="center"><%- apiUseList[i].apiAppNm %></td>
				<td class="center"><%- apiUseList[i].apiUseBasecar == 'Y' ? '예' : '아니오' %></td>
				<td class="center"><%- apiUseList[i].apiUseEquipment == 'Y' ? '예' : '아니오' %></td>
				<td class="center"><%- apiUseList[i].apiUseProdcar == 'Y' ? '예' : '아니오' %></td>
				<td class="center"><%- apiUseList[i].apiUseUser == 'Y' ? '예' : '아니오' %></td>
				<td class="center"><%- apiUseList[i].useYn == 'Y' ? '예' : '아니오' %></td>
				<td class="center"><%- apiUseList[i].createDt %></td>
				<td class="center"><%- apiUseList[i].apiExpireAt %></td>
				<td class="center"><input type="button" onclick="deleteAPIInfo('<%- apiUseList[i].apiGenKey %>');" value="삭제"/></td>
			</tr>
		<% }%>
	<% } else { %>
		<tr>
			<td colspan="9">발급 된 API키가 없습니다.</td>
		</tr>
	<% } %>
</table>
</div>
